#NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
#NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
#ADMIN_EMAILS=gustavo@tu-dominio.com,otro-admin@tu-dominio.com
#SUPABASE_SECRET_KEY=your_supabase_secret_key
#CLOUDINARY_NAME = cloudinary-name
#CLOUDINARY_KEY = cloudinary-key
#CLOUDINARY_SECRET = cloudinary-secret